// Mixins Here
.nav-display {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.nav-hover {
    font-weight: bold;
    transition-duration: 0.1s;
    color: red;
}

// Button Parametric Mixin
.border-radius(@radius) {
    -webkit-border-radius: @radius;
       -moz-border-radius: @radius;
            border-radius: @radius;
  }
  .button(@bg; @fc) {
        background-color: @bg;
        color: @fc;
  }